App_Data/
node_modules/
artifacts/

# Visual Studio files
*.user
*.lock.json
.vscode/
**/.vs/
.nuget/
packages/
bin/
obj/

# Private files
appsettings.Development.json

# Optimizely files
*license.config
modules/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini

# Log files
log.txt
*.log

# JetBrains IDE files
/.idea
docker/ssl/*.crt
docker/ssl/*.key
.zip

/.claude
/.github
/CLAUDE.md
