<?xml version="1.0" encoding="utf-8"?>
<module productName="OptiScheduledJob.ExtraParameters" loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
	<assemblies>
		<add assembly="OptiScheduledJob.ExtraParameters" />
	</assemblies>
	<clientResources>
		<add name="admin" path="./ClientResources/Styles/ScheduledJobExtraParameters.css" resourceType="Style"></add>
		<add name="admin" path="./ClientResources/Scripts/ScheduledJobExtraParameters.js" resourceType="Script"></add>
	</clientResources>
	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" />
		</moduleDependencies>
	</clientModule>
</module>
