<?xml version="1.0" encoding="utf-8"?>
<module productName="Optimizely.ScheduledJob.ExtraSettings" loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor">
	<assemblies>
		<add assembly="Optimizely.ScheduledJob.ExtraSettings" />
	</assemblies>
	<clientResources>
		<add name="admin" path="./ClientResources/Scripts/ScheduledJobExtraParameters.js" resourceType="Script"></add>		
	</clientResources>
</module>